*{
    margin: 0 auto;
}
body{
    color: rgb(32,42,68);
    font-family: "monserrat", sans-serif; 
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    position: relative;
    left: 20px;
}

/*Nav Bar Styles*/

nav{
    position: relative;
    top:0;
    z-index: 3;
    background: rgb(29,53,87);
    background: linear-gradient(90deg, rgba(29,53,87,1) 0%, rgba(67,105,158,0.9430147058823529) 100%);
    width: 100%;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 22px;
    color: white;
    display: inline-flex;
    
}

nav ul{
    list-style: none;
    display: inline-flex;
    
}

nav ul li{
    padding: 30px;
    justify-content: center;
}

nav ul li:hover{
    background-color: #971b2f;
    transition: 0.5s;
    border-bottom: 5px solid #971b2f;
}
.active{
    border-bottom: 5px solid #971b2f;
}




#logo:hover{
    filter: contrast(50%);
    transition: 0.3s;
}

#logo{
    position:absolute;
    overflow:hidden;
    top:13px; 
    left:20px;
    width:70px;    
}

/*Vehicle Banner styles*/

.vechileHeader{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: rgb(87,106,126);
    background: linear-gradient(90deg, rgba(87,106,126,1) 33%, rgba(136,148,160,1) 100%);
    color: white;
    font-size: 40px;
    top:-10px;
}

/* CSS GRID*/

.grid-container {
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 0px;
    grid-template-areas:
      "quickAccess specifications slideShow1"
      "quickAccess specifications slideShow2"
      "quickAccess specifications slideShow3"
      "quickAccess specifications slideShow4";
  }

/* Quick access styles*/
.quickAccess { 
    grid-area: quickAccess; 
    position: relative;
    float:left;
    top: -70px;
    width: 175px;
    height: 300px;
    padding: 10px;
    margin: 0 5%;
    border-radius: 5px;
    background-color: #fcfcfc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
}
.quickAccess:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    }

.quickAccess h3{
    padding: 10px;
    font-size: 20px;
}

.quickAccess ul{
    list-style: none;
    line-height: 40px;
    font-size: 18px;
}

/*Styling for the links changing color*/
.quickAccess a::before{
  position: absolute;
  content: attr(data-content);
  color: #971b2f;
  text-decoration: underline;
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  transition: clip-path 350ms ease;
}

.quickAccess a:hover::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/*Styles for the specs table*/

.specifications { 
    grid-area: specifications; 
    border-right: solid #971b2f 3px;
}

.specstable th{
    padding: 10px 0;
    text-align: left;
    font-size: 25px;
    color: rgb(32,42,68);
}

.specstable td{
    padding: 5px 0;
}

/*Slide Show Stylings*/

.slideShow{
    height: 400px;
    width: 500px;
    border: solid black 1px;
    margin: auto;
    position: relative;
}


.slideShow1 { 
    grid-area: slideShow1; 
   
}
  
.slideShow2 { 
    grid-area: slideShow2; 
    
}
  
.slideShow3 { 
    grid-area: slideShow3; 
    
}
  
.slideShow4 { 
    grid-area: slideShow4; 
    
}

.slideShow2 img{
    width: 500px;
    height: 400px;
}
.slideShow1 img{
    width: 500px;
    height: 400px;
}


.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:rgb(32,42,68);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.4);
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}







